.logo {
  @media screen and (max-width: 767px) {
    width: 134px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
    
  
  // display: inline-flex;
  // margin-right: 94px;

  &-footer {
    padding: 16px 0 16px 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
