.menu-nav {
  display: flex;
  @media screen and (min-width: 768px) {
    align-items: center;
    margin-right: 84px;
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .menu-item:not(:last-child) {
    display: flex;
    margin-right: 50px;
  }
}


@media screen and (max-width: 767px) {
  .menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
}


.menu-link {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 1.143;
  letter-spacing: 0.02em; 
  color: $black-color;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-list {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      
      padding-top: 60px;
      padding-bottom: 40px;
    }
    // justify-content: center;
    // padding-bottom: 50px;
    // padding-top: 94px;
  }

  &-saction {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: $black-color;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    background: $gray-color;

    transition: background-color 250ms $timing-function,
    color 250ms $timing-function;

    @media screen and (max-width: 767px) {
      margin-right: 8px;
      margin-bottom: 15px;
    }
  }

  &-saction:hover,
  &-saction:focus {
    background: $accent-color;
    color: $white-color;
  }
}

.menu-link.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms $timing-function;
}

.menu-contact {
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding-top: 21px;
    padding-bottom: 21px;
    
  }
}

