.header {
  position: relative;
  // padding-bottom: 16px;
  // padding-top: 16px;
  border-bottom: 1px solid $gray-color;
  background: $white-color;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation.menu-button {
  overflow: hidden;
}

.menu-button {
  display: none;
  @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 10px 0;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: $accent-color;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-mobmenu {
  display: none;
}
 
.menu-container {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  
  @media screen and (max-width: 767px){
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    text-align: center;
    padding: 60px;
    width: 100%;
    height: 400px;
    
  &.is-open {
    display: block;
  }
}

@media screen and (min-width: 767px) {
    display: flex;
  }
}