// .icon-header {
//   // padding-right: 10px;
// }

.header {
  background: $white-color;
  // padding: 24px 15px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid $gray-color;
}
