.speciality {
  
  padding-bottom: 60px;
}

.special{
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

// display: flex;
// margin-bottom: 94px;


  // .special-item:not(:last-child) {
  //   margin-bottom: 30px;
  // }

.special-item {
   @include for-size(tablet-landscape) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.special-icons {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: $gray-color;
}

.special-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $black-color;

  
}

// .special-p:not(:last-child) {
//   margin-bottom: 30px;
// }
