.web {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 94px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  &-container {
    width: 370px;
    margin-bottom: 30px;
    background: $white-color;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    text-decoration: none;
  }

  &-container:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &-container:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.special-item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover .overlay {
    transform: translatey(0);
  }
}

.box {
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  background: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms $timing-function;

  &-text {
    width: 322px;
    height: 168px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.556;

    color: $white-color;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.main-title {
  padding: 20px 24px;

  &-filter {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $black-color;

    margin: 0;
  }

  &-subfilter {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    color: $main-color;

    margin: 0;
  }
}
